{% extends 'base.html' %}

{% block title %} Jumaic Conference Rooms {% endblock %}

{% block content %}
{% load static %}

<div class="d-flex flex-column position-absolute top-50 start-50 translate-middle p-2" style="max-width: 30%;">
    
        <div>
            <img class="img-fluid" src="{% static 'images/logo_w_name.png' %}">
        </div>

        <div class="bg-dark rounded-pill">
            <div class = "p-2">
            <div class="text-center text-light font-weight-italic">
                <h3><i>"Providing quality rooms to discuss with your associates."</i></h3>
            </div>
            <div class="text-center">
                <a class="text-center text-light" href="{% url 'aboutUs-view'%}" style="text-decoration: none;">Learn more...</a>
            </div>
            </div>
       
</div> 


</div>



<style>
html{
    height: 100%;
}
body {
    background-image: url("{% static 'images/rooms.jpg' %}");
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    
}
</style>
{% endblock %}