{% extends 'base.html' %}

{% block title %} Login {% endblock %}

{% block content %}
{% load static %}

<div class="position-absolute top-50 start-50 translate-middle">
    <div class="loginbox card bg-dark bg-gradient">
		<div class="card-body m-5">
			<div>
				
			</div><br>
			<div class="d-flex flex-column text-light">
				<div class="p-2">
					<h3 class="text-center" style="font-weight: bold;">LOGIN</h3>
				</div>
				<div class="p-2">
					<form accept-charset="UTF-8" role="form">
					<fieldset>
						<div class="form-group">
							<input class="form-control" placeholder="Username" name="username" type="text">
						</div><br>
						<div class="form-group">
							<input class="form-control" placeholder="Password" name="password" type="password" value="">
						</div>
						<div class="checkbox">
							<label>
								<input name="remember" type="checkbox" value="Remember Me"> Remember Me
							</label>
						</div><br>
						<input class="btn btn-lg btn-success btn-block position-absolute top-100 start-50 translate-middle" type="submit" value="Login">
					</fieldset>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<style>
	.loginbox{
		border-radius: 25%;
	}
	body {
		background-image: url("{% static 'images/room.jpg' %}");
		background-position: fixed;
		background-repeat: no-repeat;
		background-size: cover;
	}
</style>	
{% endblock %}