
{% extends 'base.html' %}
{% load static %}
{% block title %} Jumaic Conference Rooms {% endblock %}

{% block content %}
  
      {% include 'sideMenu.html' %}
    
    
        <!-- BODY -->
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Reservations</h1>
                
          </div>
    
          
        </main>
        <!--BODY-->
        
      </div>
    </div>

    {% endblock %}

