{% extends 'base.html' %}
{% load static %}
{% block title %} Jumaic Conference Rooms {% endblock %}

{% block content %}
  
{% include 'sideMenu.html' %}
    
    
<!-- BODY -->

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <div class="card">
    <div class="card-header flex-wrap flex-md-nowrap border-bottom bg-dark">
      <h1 class="h2 text-light" style="font-weight: bold;">Conference Rooms</h1>
    </div>

    {% for r in rooms %}
    <div class="card-body border">
      <div class="container-fluid">
        <div class="row">
        
          <div class="roomItem card mb-3 border-3 rounded">
            <div class="d-flex flex-row align-items-center">
              <div class="col-md-4">
                <img src="{% static 'images/room1.jpg'%}" class="img-fluid rounded-pill">
              </div>
              <div class="col-md-5">
                <div class="card-body">

                  <div class="d-flex flex-row">
                    <h5 class="card-title pe-3" style="font-weight:bold;">
                      {{r.name}} 
                      <span class="badge bg-secondary">{{r.type}}</span>
                    </h5>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-1">
                      <div>
                      <p class="card-text pe-3" style="font-weight:bold;">{{r.price}}</p>
                      </div>

                      <div>
                      <p class="card-text">Morning
                      <span class="badge rounded-pill bg-success">{{r.morningFee}}</span>
                      </p>
                      </div>

                      <div>
                      <p class="card-text">Afternoon
                      <span class="badge rounded-pill bg-danger">{{r.afternoonFee}}</span>
                      </p>
                      </div>

                      <div>
                      <p class="card-text">Evening
                        <span class="badge rounded-pill bg-primary">{{r.eveningFee}}</span>
                      </p>
                      </div>
                  </div>
                  
                  <div class="d-flex flex-row">
                    <p class="card-text pe-3" style="font-weight:bold;">Capacity:
                      <span class="badge rounded-pill bg-primary bg-info">{{r.capacity}}</span>
                    </p>
                  </div>
                </div>
              </div>

              <div class="col-md-3 border">
                <div class="d-grid">
                  <button class="btn btn-success bg-gradient btn-block">Book</button>
                  <button class="btn btn-danger bg-gradient btn-block">Edit</button>
                </div>    
              </div>
            </div>
          </div>
          
        </div>
      </div>  
    </div>
    {% endfor %}
  </div>
  

</main>
        <!--BODY-->

<style>
  .card-img{
    height: 176px;
    width: 170px;
  }
  .room{
    background-color: #dfe4ea;
  }
  .roomItem:hover {
    border-color: #feca57;
  }
</style>
{% endblock %}

