{% extends 'base.html' %}
{% load static %}
{% block title %} Jumaic Conference Rooms {% endblock %}

{% block content %}
  
{% include 'sideMenu.html' %}
    
    
<!-- BODY -->

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <div class="card">
    <div class="card-header flex-wrap flex-md-nowrap border-bottom bg-danger bg-gradient">
      <h1 class="h2 text-light" style="font-weight: bold;">Conference Rooms</h1>
    </div>

    <div class="card-body border">
      <div class="d-flex flex-column align-items-center">
        
        <div class="card mb-3 rounded-pill" style="max-width: 620px; background-image: url({% static 'images/start1.JPG' %})">
          <div class="row no-gutters">
            <div class="col-md-3 ">
              <img src="{% static 'images/room.jpg' %}" class="card-img rounded-circle">
            </div>
            <div class="col-md-9">
              <div class="card-body">
                <h4 class="card-title" style="font-weight: bold;">Room 1</h4>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
        </div>

   
      </div>  
    </div>
  </div>

</main>
        <!--BODY-->

<style>
  .card-img{
    height: 176px;
    width: 170px;
  }
</style>
{% endblock %}

