{% extends 'base.html' %}
{% load static %}
{% block title %} JMJ Conference Rooms {% endblock %}

{% block content %}
  
{% include 'sideMenu.html' %}
    
{% load crispy_forms_filters %}   
<!-- BODY -->

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <div class="card">
    <div class="card-header flex-wrap flex-md-nowrap border-bottom bg-dark">
      <div class="d-flex flex-row align-items-center justify-content-between">
        <h2 class="text-light" style="font-weight: bold;">Users</h2>
          <div>
            <button type='submit' name='addBtn' class='btn btn-success' data-bs-toggle="modal" data-bs-target="#addUserModal">Add User</button>
          </div>
      </div>    
      
    </div>
    <!-- Add Room Modal -->
    <div class="modal fade" id="addUserModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add A User</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
          <form method="POST">
            {% csrf_token %}
            {{form|crispy}}
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" id = "addBtn" name = "addBtn">Add</button>
          </div>
        </form>
        </div>
      </div>
    </div>
    </div>

    <div class="card-body border">

        <div class="table-responsive">
          <table class="table table-striped table-sm" id="table_id">
            <thead>
              <tr>
                <th scope="col">User Id</th>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
                <th scope="col">is_Admin</th>
                <th scope="col">Last Login</th>
                <th scope="col">Date Joined</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              {% for user in users %}
              <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.is_superuser }}</td>
                <td>{{ user.last_login }}</td>
                <td>{{ user.date_joined }}</td>
                <td>
                   <div class="btn-group">
                      <button type="button" class="btn btn-warning btn-sm" data-bs-toggle="modal" data-bs-target="#updateUser-{{ user.id }}"> Update </button>
                      <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteUser-{{ user.id }}"> Delete </button>
                    </div>
                </td>
              </tr>
  
            <!--UPDATE MODAL-->
            <div class="modal fade" id="updateUser-{{ user.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog  modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Permission</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <form class="form" method="POST">
                        <div class="justify-content-around">
                            <div class="form-group">
                                {% csrf_token %}
                               
                                  <input type="text" name="userId" value = {{ user.id }} hidden>
                                
                               
                                <div class="form-check">
                                  <input type="checkbox"  name="isSuperUser" value="1" {% if user.is_superuser %} checked {% endif %}>
                                  <label class="col-form-label"  for="name" >Superuser status</label><br>
                                  <small  class="form-text text-muted">Designates that this user has all permissions without explicitly assigning them.</small>
                                </div>
                                <div class="form-check">
                                  <input type="checkbox"  name="staffStatus" value="1" {% if user.is_staff %} checked {% endif %}>
                                  <label class="col-form-label"  for="name" >Staff status</label><br>
                                  <small  class="form-text text-muted">Designates whether the user can log into this admin site.</small>
                                </div>
                                <div class="form-check">
                                  <input type="checkbox"  name="isActive" value="1" {% if user.is_active %} checked {% endif %} >
                                  <label class="col-form-label"  for="name" >Active</label><br>
                                  <small  class="form-text text-muted">Designates whether this user should be treated as active. Unselect this instead of deleting accounts.</small>
                                </div>
  
              
                                
                            </div>
                          </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="submit" name="btnUpdate" class="btn btn-primary">Save changes</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
      <!--END OF UPDATE MODAL-->
        <!--DELETE MODAL-->
    <div class="modal fade" id="deleteUser-{{ user.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog  modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Delete Post</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
           <form method="POST">
           {% csrf_token %} 
           <input type="text" name="userId" value = {{ user.id }} hidden>
           <h3>Are you sure you want to delete?</h3>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" name="btnDelete" class="btn btn-danger">Yes</button>
          </div>
          </form>
        </div>
      </div>
    </div>
      <!--END OF DELETE MODAL-->
              {% endfor %}
            </tbody>
          </table>
        </div>
      </main>
    </div>
  </div> 
    </div>
  </div>
  
</main>

{% include 'footer.html' %}
<!--BODY-->

<style>
  .card-img{
    height: 176px;
    width: 170px;
  }
  .users{
    background-color: #dfe4ea;
  }
  .reserveItem:hover {
    border-color: #feca57;
  }
</style>
{% endblock %}

